

.container {
    width: 1600px;
    margin: auto;
}

.sectionfirst {height: 600px;
    width: 1600px;
    left: 0px;
    top: 80px;
    border-radius: 0px;
    background-color: #2F303A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.spanfirst {
    color: #2196F3;
    
        
    
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
}
.spansecond {
    color: #000000;
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
    }
a {text-decoration: none;}
 .list {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: #2196F3;
}
.links {font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #212121;}
li {list-style-type: none;}
.navmail {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: #2196F3;
        
}
.navtel {font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #757575;}

    

    .headerone {font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        /*text-align: center;*/
        letter-spacing: 0.06em;
        text-transform: uppercase;
       /* padding-top: 200px;*/
        
           
    
        color: #FFFFFF;}
       .buttonfirst {
        /*margin-top: 80px;*/
    
        background: #2196F3;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
           
                width: 200px;
                height: 50px;
                left: 700px;
                top: 430px;
        
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 30px;
           
            letter-spacing: 0.06em;
        
            color: #FFFFFF;
        
    }
            .headersecond {
                
               
                
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: 0.03em;
                    text-transform: uppercase;
                    
                
                    color: #212121;
            }
            .content1 {
               
                
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 24px;
                    
                
                    letter-spacing: 0.03em;
                
                    color: #757575;
            }
            .h2 {
                font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 42px;
                   
                    letter-spacing: 0.03em;
                
                    color: #212121;
                    padding-top: 94px;
                    text-align: center;
            }
            .h3 {
                
                
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px; 
                    letter-spacing: 0.03em;
                
                    color: #212121;
            }
            .content2 {
                font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    
                    letter-spacing: 0.03em;
                    text-align: center;
                
                    color: #757575;
            }
            .spanthird {font-family: 'Raleway';
                font-style: normal;
                font-weight: 700;
                font-size: 26px;
                line-height: 31px;
                letter-spacing: 0.03em;
               color: #FFFFFF

            }
            .footeradres {font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.03em;
            
                color: #FFFFFF;
                
            
            }
                .footermail {
                    font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 24px;
                        letter-spacing: 0.03em;
                    
                        color: rgba(255, 255, 255, 0.6);
                }

                .footertel {font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 24px;
                  letter-spacing: 0.03em;
                
                    color: rgba(255, 255, 255, 0.6);}
                    .divfooter {width: 1600px;
                        height: 252px;
                        left: 0px;
                    background: #2F303A;}
                    .divheader {
                        display: flex;
                        justify-content:space-between;

                        width: 1600px;
                            height: 80px;
                            background: #FFFFFF;
                    }
                    .sectionlorem {
                        display: flex;
                        justify-content: space-between;
                    }
                    
                    .divcontent1 {
                        display: flex;
                        justify-content: space-around;}
                    .pp {
                        width: 270px;
                        height: 75px;
                    }
                    .listimg1 {
                        display: flex;
                        justify-content: space-between;
                        padding-left: 215px;
                        padding-right: 215px;
                        
                    }
                    .linklogo {
                        padding-top: 60px;
                    padding-left: 215px;
                    }
                    .listfooter 
                    {
                    padding-left:215px ;
                    }
                    .listimg2 {
                        display: flex;
                        justify-content: space-around;
                        
                        
                                      }
                    .listh3 {
                        display: flex;
                        justify-content: space-around;  }  
                    .listjob {
                        display: flex;
                        justify-content: space-around;
                    }                
                    .team {
                        background: #F5F4FA;
                    }
                    .listli {
                        display: inline;
                    }
                    .cardbody {display: flex;
                    flex-direction: column;
                }
                    .cardimg {
                        
                    
                        padding-bottom: 30px;
                        margin-top: 50px;
                        margin-bottom: 94px;
                        
                        width: 270px;
                            height: 368px;
                            left: 215px;
                            top: 1635px;
                        
                            background: #FFFFFF;
                            
                        
                            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
                            border-radius: 0px 0px 4px 4px;
                    }
                    .cardbody > h3 {
                        padding-bottom: 10px;
                        text-align: center;
                    }
                    .cardbody > p {
                        text-align: center;
                    }
                    .navbar  {
                        display: flex;
                    }